<header>
  <!-- 네비게이션바 -->
  <nav class="navbar" id="navbar">
    <div class="logo"><h1>Logo</h1></div>
    <ul>
      <li id="game-navigation">
        <span><img src="img/icon/game.png" alt="" class="nav-icon-image" /></span><span>게임</span>
      </li>
      <li id="board-navigation">
        <span><img src="img/icon/board.png" class="nav-icon-image" alt="" /></span><span>게시판</span>
      </li>
      <li id="achievements-navigation">
        <span><img src="img/icon/achievements.png" class="nav-icon-image" alt="" /></span><span>업적</span>
      </li>
    </ul>
  </nav>
  <!-- 네브바 옆 헤더 -->
  <div class="fixed-header" id="fixed-header">
    <div id="nickname"></div>
    <p id="login">로그인</p>
    <p id="signup">회원가입</p>
    <button id="logout">로그아웃</button>
  </div>
</header>
