#board-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.board-wrapper {
  margin-top: 20px;
  margin-bottom: 20px;
}
.board-title-wrapper {
  width: 80%;
  border-top: 3px solid tomato;
  border-bottom: 1px solid tomato;
  display: flex;
}
.board-title {
  text-align: center;
  padding: 5px;
  /* background-color: tomato; */
  margin-right: 2px;
  font-weight: 900;
}
.board-write-box {
  width: 80%;
  border-bottom: 1px solid #c8c8c8;
}
.board-write-a {
  display: flex;
}
.board-write {
  text-align: center;
  padding: 5px;
  /* background-color: tomato; */
  margin-right: 2px;
}

#write {
  position: absolute;
  right: 10%;
  top: 10%;
}

/* 게시판 글 css */
.write-num {
  flex: 1;
}
.write-title {
  flex: 4;
}
.write-writer {
  flex: 1;
}
.write-date {
  flex: 2;
}
