body {
  margin: 0;
}

div {
  box-sizing: border-box;
}

h4 {
  margin-top: 0;
}

h1,
h2,
p {
  margin: 0;
}

.hide {
  opacity: 0;
  /* transform: translateX(50px); */
}

.display-none {
  display: none;
}

.clicked {
  background-color: tomato;
}

a {
  text-decoration: none;
  color: black;
}
