<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- css -->
    <%- include('includes/style') %>
    <link rel="stylesheet" href="css/write.css" />
  </head>
  <body>
    <!-- login -->
    <%- include('includes/login') %>

    <!-- navbar -->
    <%- include('includes/nav') %>

    <div id="contents-position">
      <h1 style="text-align: center">게임</h1>
      <article style="padding: 30px">
        <div class="game-box-wrapper-container">
          <div class="game-box-wrapper" style="justify-content: center">
            <a href="/packman">
              <div class="game-box game-page-game-box">
                <div class="game-box-packman-game-image game-box-image-set"></div>
                <div class="game-box-text">팩맨</div>
              </div></a
            ><a href="/quiz">
              <div class="game-box game-page-game-box">
                <div class="game-box-quiz-game-image game-box-image-set"></div>
                <div class="game-box-text">퀴즈</div>
              </div></a
            ><a href="/escape">
              <div class="game-box game-page-game-box">
                <div class="game-box-escape-game-image game-box-image-set"></div>
                <div class="game-box-text">방탈출</div>
              </div></a
            ><a href="/tekken">
              <div class="game-box game-page-game-box">
                <div class="game-box-tekken-game-image game-box-image-set"></div>
                <div class="game-box-text">철권</div>
              </div></a
            >
          </div>
          <div class="game-box-wrapper" style="justify-content: center">
            <a href="/tower-defence">
              <div class="game-box game-page-game-box">
                <div class="game-box-tower_defence-game-image game-box-image-set"></div>
                <div class="game-box-text">타워디펜스</div>
              </div></a
            >
            <div class="game-box game-page-game-box">
              <div class="game-box-bubble_bubble-game-image game-box-image-set"></div>
              <div class="game-box-text">버블버블</div>
            </div>
            <div class="game-box game-page-game-box">
              <div class="game-box-tetris-game-image game-box-image-set"></div>
              <div class="game-box-text">테트리스</div>
            </div>
            <div class="game-box game-page-game-box">
              <div class="game-box-bubble_shooter-game-image game-box-image-set"></div>
              <div class="game-box-text">버블슈터</div>
            </div>
          </div>
        </div>
      </article>
    </div>

    <!-- js -->
    <%- include('includes/js') %>
  </body>
</html>
