.post-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#post-title-container {
  width: 80%;
  margin-top: 45px;
  padding: 20px 15px;
  border-top: 3px tomato solid;
  border-bottom: 1px gray solid;
}

#post-contents-container {
  width: 80%;
  padding: 20px 15px;
  border-bottom: 1px gray solid;
}

#post-button-container {
  width: 80%;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
